---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/dsaenztagarro/githubbot/issues/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 4be599a1b8f5cee64f50b7f8c82026712e057e3b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1483270047'
      Etag:
      - W/"4c909d27f3436ddecc013ba0c656addf"
      Last-Modified:
      - Sat, 31 Dec 2016 16:36:26 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/dsaenztagarro/githubbot/issues/1","repository_url":"https://api.github.com/repos/dsaenztagarro/githubbot","labels_url":"https://api.github.com/repos/dsaenztagarro/githubbot/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/dsaenztagarro/githubbot/issues/1/comments","events_url":"https://api.github.com/repos/dsaenztagarro/githubbot/issues/1/events","html_url":"https://github.com/dsaenztagarro/githubbot/issues/1","id":198238343,"number":1,"title":"Add
        hooks endpoint to get the tags associated to current issue","user":{"login":"dsaenztagarro","id":1685489,"avatar_url":"https://avatars.githubusercontent.com/u/1685489?v=3","gravatar_id":"","url":"https://api.github.com/users/dsaenztagarro","html_url":"https://github.com/dsaenztagarro","followers_url":"https://api.github.com/users/dsaenztagarro/followers","following_url":"https://api.github.com/users/dsaenztagarro/following{/other_user}","gists_url":"https://api.github.com/users/dsaenztagarro/gists{/gist_id}","starred_url":"https://api.github.com/users/dsaenztagarro/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dsaenztagarro/subscriptions","organizations_url":"https://api.github.com/users/dsaenztagarro/orgs","repos_url":"https://api.github.com/users/dsaenztagarro/repos","events_url":"https://api.github.com/users/dsaenztagarro/events{/privacy}","received_events_url":"https://api.github.com/users/dsaenztagarro/received_events","type":"User","site_admin":false},"labels":[{"id":509734932,"url":"https://api.github.com/repos/dsaenztagarro/githubbot/labels/development","name":"development","color":"0052cc","default":false},{"id":509735482,"url":"https://api.github.com/repos/dsaenztagarro/githubbot/labels/ruby","name":"ruby","color":"d93f0b","default":false}],"state":"open","locked":false,"assignee":{"login":"dsaenztagarro","id":1685489,"avatar_url":"https://avatars.githubusercontent.com/u/1685489?v=3","gravatar_id":"","url":"https://api.github.com/users/dsaenztagarro","html_url":"https://github.com/dsaenztagarro","followers_url":"https://api.github.com/users/dsaenztagarro/followers","following_url":"https://api.github.com/users/dsaenztagarro/following{/other_user}","gists_url":"https://api.github.com/users/dsaenztagarro/gists{/gist_id}","starred_url":"https://api.github.com/users/dsaenztagarro/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dsaenztagarro/subscriptions","organizations_url":"https://api.github.com/users/dsaenztagarro/orgs","repos_url":"https://api.github.com/users/dsaenztagarro/repos","events_url":"https://api.github.com/users/dsaenztagarro/events{/privacy}","received_events_url":"https://api.github.com/users/dsaenztagarro/received_events","type":"User","site_admin":false},"assignees":[{"login":"dsaenztagarro","id":1685489,"avatar_url":"https://avatars.githubusercontent.com/u/1685489?v=3","gravatar_id":"","url":"https://api.github.com/users/dsaenztagarro","html_url":"https://github.com/dsaenztagarro","followers_url":"https://api.github.com/users/dsaenztagarro/followers","following_url":"https://api.github.com/users/dsaenztagarro/following{/other_user}","gists_url":"https://api.github.com/users/dsaenztagarro/gists{/gist_id}","starred_url":"https://api.github.com/users/dsaenztagarro/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dsaenztagarro/subscriptions","organizations_url":"https://api.github.com/users/dsaenztagarro/orgs","repos_url":"https://api.github.com/users/dsaenztagarro/repos","events_url":"https://api.github.com/users/dsaenztagarro/events{/privacy}","received_events_url":"https://api.github.com/users/dsaenztagarro/received_events","type":"User","site_admin":false}],"milestone":null,"comments":0,"created_at":"2016-12-31T16:26:33Z","updated_at":"2016-12-31T16:36:26Z","closed_at":null,"body":"###
        Acceptance test\r\n\r\n- A git post-checkout hook sends a `POST` message to
        `/hooks` endpoint with owner, repo and branch names.\r\n- A branch name should
        follow the pattern `XXXX-name-of-the-issue` where XXXX is the number of the
        issue.\r\n- We recover the tags associated to the issue.","closed_by":null}'
  recorded_at: Sun, 01 Jan 2017 10:40:46 GMT
recorded_with: VCR 3.0.3
