<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css?v=1">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div style="margin: auto; margin-top: 50px; width: 650px; height: 350px">
      <img src="/images/codercat.jpg" width="150" height="150"/>
      <%= yield %>
    </div>
  </body>
</html>
