<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div style="margin: auto; margin-top: 100px; width: 350px; height: 350px">
      <img src="/images/codercat.jpg" width="300" height="300"/>
      <table>
        <tr>
          <th align="left">Application</th>
          <td>Githubbot</td>
        </tr>
        <tr>
          <th align="left">Version</th>
          <td>0.0.1</td>
        </tr>
      </table>
    </div>
  </body>
</html>
